<%= content_for :menus do
  menus(current_user, :project_plannings, "/projects/#{@sprint.release.project.id}")
end %>

<div class="form-wrapper">
  <h1><%= t("headers.forms.edit_sprint") %></h1>
  <%= render :partial => 'form', :locals => { :sprint => @sprint } %>
</div>
