<div class="form-wrapper">
  <p id="notice"><%= notice %></p>
  <p>
    <b>名称:</b>
    <%= @project.name %>
  </p>
  <br />
  <%= link_to '编辑', edit_project_path(@project) %>
</div>
<%= render :partial => "project_burn_down_charts/index", :object => @h %>

