<%= content_for :menus do
  menus(current_user, :product_backlogs, "/projects/#{@product_backlog.project.id}")
end %>

<div class="form-wrapper">
  <h1><%= t("headers.forms.new_product_backlog") %></h1>
  <%= render :partial => 'form', :locals => { :product_backlog => @product_backlog } %>
</div>

